*{
  box-sizing: border-box;
}
body{
  margin:0;
}
.users-list-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height:100vh;
}
.users-list-heading{
  color:#323f4b;
  font-size:32px;
  font-weight:bold;
  font-family:"Roboto";
}
@media screen and (min-width: 768px){
  .users-list-heading{
    font-size: 54px;
  }
}
.users-list{
  display:flex;
  flex-direction:column;
  list-style-type: none;
}